.vs/
Trains.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Trains.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Trains.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Trains.Core/obj/Debug/Trains.Core.csproj.FileListAbsolute.txt
Trains.WPF/bin/Debug/Trains.WPF.exe.config
Trains.WPF/obj/Debug/App.g.cs
Trains.WPF/obj/Debug/App.g.i.cs
Trains.WPF/obj/Debug/MainWindow.baml
Trains.WPF/obj/Debug/MainWindow.g.cs
Trains.WPF/obj/Debug/MainWindow.g.i.cs
Trains.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Trains.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Trains.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Trains.WPF/obj/Debug/Trains.WPF.Properties.Resources.resources
Trains.WPF/obj/Debug/Trains.WPF.csproj.FileListAbsolute.txt
Trains.WPF/obj/Debug/Trains.WPF.g.resources
Trains.WPF/obj/Debug/Trains.WPF_MarkupCompile.i.lref
Trains.WPF/obj/Debug/Trains.WPF_MarkupCompile.lref
